{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "plugins": [
    "react",
    "flowtype"
  ],
  "parserOptions": {
    "ecmaVersion": 7
  },
  "env": {
    "jest": true
  },
  "rules": {
    "indent": [
      "error",
      4
    ],
    "semi": [
      2,
      "always"
    ],
    "quotes": ["error", "single"],
    "react/jsx-indent": [2, 4],
    "react/jsx-indent-props": [2, 4],
    "react/prop-types": [0],
    "globals": { "Exact": "off","$Exact": "off" },
    "global": { "Exact": "off" ,"$Exact": "off" }
  },
  "globals": {
    "localStorage": true,
    "fetch": true
  }
}
